---
import { getCollection } from "astro:content";
import { sortById } from "../utils/sortById";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Design";
const caseStudies = await getCollection("case-studies");
---

<BaseLayout pageTitle={pageTitle}>
    <ul class="ps-0">
        {
            caseStudies.sort(sortById).map(caseStudy => (
                <li>
                    <div class="card mb-5">
                        <div class="row">
                            <div class="col-md-4">
                                <img src={caseStudy.data.thumbnail.url} class="img-fluid w-100" alt={caseStudy.data.thumbnail.alt} />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2 class="card-title">{caseStudy.data.title}</h2>
                                    <div class="card-text">
                                        <p>{caseStudy.data.description}</p>
                                    </div>
                                    <div class="d-flex mb-3">
                                        {caseStudy.data.tags.map(tag => (
                                            <span class="badge rounded-pill text-bg-secondary me-2">{tag}</span>
                                        ))}
                                    </div>
                                    <a href={`/case-studies/${caseStudy.slug}`} class="btn btn-primary">
                                        View Case Study
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            ))
        }
    </ul>
</BaseLayout>

<style>
    li {
        list-style-type: none;
    }
</style>
