---
import { getCollection } from "astro:content";
import { sortById } from "../utils/sortById";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Design";
const caseStudies = await getCollection("case-studies");
---

<BaseLayout pageTitle={pageTitle}>
    <ul class="ps-0">
        {
            caseStudies.sort(sortById).map(caseStudy => (
                <li class="case-study mb-4">
                    <a href={`/case-studies/${caseStudy.slug}`} class="text-reset">
                        <h2 class="d-inline h5 mb-3">{caseStudy.data.title}</h2>
                    </a>
                    <div class="d-flex my-3">
                        {caseStudy.data.tags.map(tag => (
                            <span class="tag">{tag}</span>
                        ))}
                    </div>
                    <p class="mb-4">{caseStudy.data.description}</p>
                </li>
            ))
        }
    </ul>
</BaseLayout>

<style>
    .case-study {
        list-style-type: none;
    }

    .case-study:not(:last-of-type) {
        border-bottom: 1px dashed rgb(33, 37, 41);
    }

    .tag:not(:first-of-type)::before {
        content: "\2022";
        margin: 0 0.5rem;
    }
</style>
