---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Photography";
const destinations = await getCollection("destinations");
---

<BaseLayout pageTitle={pageTitle}>
    <ul class="ps-0">
        <div class="row">
            {
                destinations.map(destination => (
                    <li class="col-md-6 col-xl-4">
                        <a href={`/destinations/${destination.slug}`}>
                            <div class="overlay d-flex justify-content-end align-items-end mb-4">
                                <img src={destination.data.thumbnail.url} class="img-fluid" alt={destination.data.thumbnail.alt} />
                                <h2>{destination.data.title}</h2>
                            </div>
                        </a>
                    </li>
                ))
            }
        </div>
    </ul>
</BaseLayout>

<style>
    li {
        list-style-type: none;
    }

    .overlay {
        position: relative;
        background: linear-gradient(#00000000, #000000ff);
    }

    h2 {
        position: absolute;
        right: 1.5rem;
        bottom: 1rem;
        color: #ffffff;
        text-shadow: 0 1px 1rem hsl(0, 0%, 20%);
    }

    img {
        aspect-ratio: 1/1;
        object-fit: cover;
    }
</style>
