---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Photography";
const destinations = await getCollection("destinations");
---

<BaseLayout pageTitle={pageTitle}>
    <ul class="ps-0">
        <div class="row row-cols-2">
            {
                destinations.map(destination => (
                    <div class="col">
                        <li>
                            <a href={`/destinations/${destination.slug}`}>
                                <div class="thumbnail d-flex justify-content-center align-items-center mb-4">
                                    <img src={destination.data.thumbnail.url} class="img-fluid" alt={destination.data.thumbnail.alt} />
                                    <h2>{destination.data.title}</h2>
                                </div>
                            </a>
                        </li>
                    </div>
                ))
            }
        </div>
    </ul>
</BaseLayout>

<style>
    li {
        list-style-type: none;
    }

    .thumbnail img {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .thumbnail {
        position: relative;
        background-color: #000000;
    }

    .thumbnail img {
        transition: opacity 400ms;
    }

    .thumbnail:hover img {
        opacity: 0.4;
    }

    .thumbnail h2 {
        position: absolute;
        color: #ffffff;
        opacity: 0;
        object-fit: cover;
        transition: opacity 400ms;
    }

    .thumbnail:hover h2 {
        opacity: 1;
    }
</style>
