---
const { previousElement, nextElement } = Astro.props;
---

<div class="row my-5">
    <div class="col-md">
        <a href=`/${previousElement.collection}/${previousElement.slug}` class="text-reset text-decoration-none">
            <div class="tile p-3">
                <div class="small">Previous</div>
                <div class="h4">{previousElement.data.title}</div>
            </div>
        </a>
    </div>
    <div class="col-md">
        <a href=`/${nextElement.collection}/${nextElement.slug}` class="text-reset text-decoration-none">
            <div class="tile p-3">
                <div class="small">Next</div>
                <div class="h4">{nextElement.data.title}</div>
            </div>
        </a>
    </div>
</div>

<style>
    .tile .h4 {
        text-wrap: balance;
    }

    .tile:hover {
        background-color: #f1f1f1;
    }
</style>
