---
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/case-study.css";

const { frontmatter } = Astro.props;
---

<html lang="en">
    <Head siteTitle={SITE_TITLE} siteDescription={SITE_DESCRIPTION} pageTitle={frontmatter.title} />
    <body>
        <Header />
        <main>
            <div class="container">
                {
                    frontmatter.hero.embed ? (
                        <figure class="figure w-100">
                            <div class="ratio ratio-16x9">
                                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" src={frontmatter.hero.url} allowfullscreen />
                            </div>
                            <figcaption class="figure-caption">{frontmatter.hero.caption}</figcaption>
                        </figure>
                    ) : (
                        <figure class="figure">
                            <img src={frontmatter.hero.url} alt={frontmatter.hero.alt} class="figure-img img-fluid w-100" />
                            <figcaption class="figure-caption">{frontmatter.hero.caption}</figcaption>
                        </figure>
                    )
                }
            </div>
            <div class="container case-study">
                <h1 class="mt-5 mb-3 text-center">{frontmatter.title}</h1>
                <div class="lead text-center">
                    {frontmatter.year} &bull; {frontmatter.duration} &bull; For {frontmatter.audience}
                </div>
                <slot />
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
            <Footer />
        </main>
    </body>
</html>
